.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #2874f0;
    color: #fff;
  }
  
  .navbar-brand {
    font-size: 22px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-links {
    display: flex;
  }
  
  .navbar-link {
    margin-left: 20px;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-link:hover {
    color: #f2f2f2;
  }
  